.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.searchHeader {
  height: 58px;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  background: #fff;
}

.cardsWrapper {
  margin: 58px 10px 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.loadingMsg {
  position: fixed;
  top: 19px;
  z-index: 1;
  color: #777;
}
.noContent {
  text-align: center;
  color: #777;
}